<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Your Account:<br></h1>
    <h2>Name:</h2>
    <label name="name"><%- name %></label>
    <h2>Email</h2>
    <label name="name"><%- email %></label>
    <h2>Phone</h2>
    <label name="name"><%- phone %></label>
    
    <button> <a href="/Questions">Take the test!</a><br></button>
    <h2>Previous Advice:</h2>
    <p><%= message %></p>
    
    <% const myString = message.trim(); %>
    <% let isWord = false; %>
    <% let wordString = '\n'; %>
    
    <% for (let i = 0; i < myString.length; i++) { %>
      <% const currentChar = myString[i]; %>
    
      <% if (currentChar === ' \n ') { %>
        <% if (isWord) { %>
          <%= wordString %> <!-- Display the word -->
          <% wordString = ''; %> <!-- Reset the word string -->
        <% } %>
        <% isWord = false; %>
      <% } else { %>
        <% isWord = true; %>
        <% wordString += currentChar; %>
      <% } %>
    <% } %>
    
    <% if (isWord) { %>
      <%= wordString %> <!-- Display the last word -->
    <% } %>
    
    
    
    
    <button> <a href="/logout">Log Out</a><br></button>

    
</body>
</html>